{{ 'component-modal-popup.css' | asset_url | stylesheet_tag }}
{{  }}

<div class="modal__wrapper">
  <div class="modal js-modal">
    <h1 class="modal__title">TITLE</h1>
    <div class="modal__content">
      {% for x in 10 %}
        <p>
          {{ x }}
        </p>
      {% endfor %}
    </div>
    <div class="modal__footer">
      CONTINUE SHOPPING
    </div>
  </div>
</div>